* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #d1d3cf;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "header"
    "main"
    "footer";
  place-items: center;
  gap: 2rem;
  font-size: 16px;
  margin: 1rem 0;
  overflow: hidden;
  overflow-y: scroll;
}

header {
  grid-area: header;
}

main {
  /* border: 1px solid red; */
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  gap: 1rem;
  margin: 0 auto;
}

footer {
  grid-area: footer;
}

button {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

select {
  height: 20px;
  width: 250px;
}

summary {
  cursor: pointer;
  transition: all .03s ease-in-out;
}

/* Add to cart button from JS style - starts */
.button_element {
  background-color: black;
  border: 2px solid transparent;
  border-radius: 10px;
  color: white;
  height: 100px;
  width: 350px;
  font-size: 2rem;
}

.button_on_click {
  background-color: green;
}
/* Add to cart button from JS style - ends */

/* Form style - starts */
.email_container input {
  height: 20px;
  width: 300px;
}

.submit_button {
  height: 30px;
  width: 150px;
  background-color: #5aae5a;
  border-radius: 10px;
}

.submit_button:focus,
.submit_button:hover {
  background-color: #346334;
  color: #fff;
}
/* Form style - ends */

/* Accordion style - starts */
.accordion_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 0 1rem;
}

.accordion_outer_container,
.details_summary_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  max-width: 600px;
}

summary {
  transition: transform 0.3s ease-in-out;
}

.test {
  color: red;
  content: none;
}

.rotate_marker {
  transform: rotate(90deg);
}
/* Accordion style - ends */

/* Media query for desktop */
@media only screen and (min-width: 768px) {
  body {
    height: 100vh;
  }
}
